#!/usr/bin/make -f

DEB_DIR=debian/pindel0.2.4t
VERSION=0.2.4t

%:
	dh $@

override_dh_auto_clean:
	$(RM) pindel pindel-debug *.gcov *.gcda *.gcno gmon.out *.d *.o

override_dh_auto_install:
	mkdir -p $(DEB_DIR)/usr/bin
	install -m 755 src/pindel $(DEB_DIR)/usr/bin/pindel$(VERSION)

override_dh_strip:
	echo "Do not create a *dbgsym*.ddeb package."
