indel.filter.input = all.head 
indel.filter.vaf = 0.1
indel.filter.cov = 20
indel.filter.hom = 6
indel.filter.pindel2vcf = ../pindel2vcf 
indel.filter.reference =  /gscuser/kye/reference/hs37d5.fa
indel.filter.referencename = hs37d5.fa
indel.filter.referencedate = 20150720
indel.filter.output = kyle.indel.filter.output
